* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Comic Neue', cursive;
}

.App {
    padding: 1.2rem;
}

.App h1 {
    margin: 0;
    padding: 0.7em;
    cursor: pointer;
    text-align: center;
}

.App h1:hover {
    animation: spin 1s linear infinite;
}

.AppText {
    font-size: 20px;
}

.AppFooter {
    padding: 20px;
    text-align: center;
}

.underline {
    cursor: pointer;
    text-decoration: underline;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}