.Controls {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  font-size: 20px;
}

.ControlsLeft,
.ControlsRight {
  padding: 1rem 0;
  flex: 1 0 auto;
}

.ControlsLeft {
  margin-right: 10px;
}
.ControlsRight {
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .Controls {
    flex-direction: column;
  }
  .ControlsLeft {
    margin-right: 0;
  }
  .ControlsRight {
    margin-left: 0;
  }
}