.Preview {
    display: flex;
    min-height: 200px;
    max-height: 500px;
    height: 30vw;
    max-width: 600px;
    margin: 1rem auto;
    padding: 2.5rem;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    border: 2px solid #313131;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.PreviewImage {
    max-width: 100%;
    max-height: 100%;
}
