.Preview {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2.5rem;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    cursor: pointer;
    border: 2px solid #313131;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.PreviewImage {
    max-width: 100%;
    height: auto;
}
